<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>blemmie - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="title" content="blemmie - all things frontend"/>
    <meta property="description" content="Blemmie is Julie Vanopdenbosch, a Belgian webdesigner and front-end developer with over ten years of experience. Blemmie works with an eye for detail and an urge for perfection. Through a love for minimalism and no-nonsense design, she aims to deliver clear, usefull and good looking results."/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
        {% include header.html %}

        {{ content }}

        {% include footer.html %}
    </div>

  </body>
</html>
