---
layout: default
title: Home
weight: 1
---
<section class="home intro">
  <p>Blemmie, Blemmyes (Βλέμυες; Blemmyae) people said to have no head, their eyes and mouth being placed in the breast. <span>(See ACEPHALITES; CAORA.)</span></p>
</section>
<section class="home posts works overview">
  <h1>Latest work</h1>
  {% for post in site.categories['works'] limit:3 %}
    <article><a href="{{ post.url }}" class="hover"><img src="{{ site.url }}{{ post.img }}" /></a></article>
  {% endfor %}
</section>
<section class="home posts blog overview">
  <h1>Latest Posts</h1>
  {% for post in site.categories['blog'] %}
    <article><time>{{ post.date | date_to_string }}</time><a href="{{ post.url }}">{{ post.title }}</a></article>
  {% endfor %}
</section>
