/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   
   @import url(http://fonts.googleapis.com/css?family=Lobster|Titillium+Web:400,300,600);
   @import 'helpers/mixins','helpers/functions','helpers/grid';
   @import 'variables';
   

/*
font-family: 'Lobster', cursive;
font-family: 'Titillium Web', sans-serif;
*/

* {
    box-sizing: border-box;
}


/* Typo */
body {
    font: 300 1.5em/1.5 "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    //font: 400 1em/1.5, Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

p {
    font-size: .85em;
    @include breakpoint($bp-small){
        font-size: 1em;
    }
}

a {
    transition: all .15s linear;
    color: $color-highlight;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

strong {
    font-weight: 500;
}

h1 {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 1em;
    font-weight: 600;
}

.intro p {
    font-size: 1.3em;
    span {
        display: block;
        text-align: right;
        font-style: italic;
        font-size: .5em;
        margin: 1em 0;
    }
}

/* Structure */
/*html,
body {
    height: 100%;
}*/
nav {
    border-bottom: 3px double $color-base;
    border-top: 3px double $color-base;
    padding: .5em 0;
    margin: 1em 0;
}
a.logo {
    display: block;
    text-align: center;
    margin: 0 auto;
}
section {
    @include cf();
}

/* Styling */
body {
    background: $color-bg;
    background-size: cover;
    color: $color-base;
    border: 15px solid lighten(#C2BBA9, 25%);
    padding: .5em 1em;
    @include breakpoint($bp-small){
        padding: 1.5em 3em;
    }
    @include breakpoint($bp-medium){
        padding: 3em 6em;
    }
}

header {
    @include cf();
}

a.logo {
    font: 300 2em/1.5 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    text-decoration: none;
    color: $color-base;
}

/* Navigation */
nav {
    ul {
        @include listreset();
        text-align: center;
        li {
            display: inline-block;
            margin-left: .7em;
        }
    }
    a {
        text-decoration: none;
        color: $color-base;
        font-size: .7em;
        font-weight: 400;
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $color-highlight;
        }
    }
}

/* Footer */
footer {
    font: 300 .7em/1.2 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    text-align: center;
    border-top: 1px solid $color-base;
    padding-top: 1em;
    margin-top: 2em;
}


/* Overview */
.overview {
    @include breakpoint($bp-medium){
        margin: 0 -10px;
    }   
    article {
        @include breakpoint($bp-medium){
            width: 50%;
            float: left;
            padding: 0 10px 20px;
        }
        @include breakpoint($bp-large){
            width: 33%;
        }
        span {
            background: white;
            opacity: .8;
            line-height: 1.2;
            padding: .2em .5em;
            position: absolute;
            z-index: 100;
        }
        img {
            width: 100%;
            position: relative;
            z-index: 0;
            margin: 1em auto;
        }
        a {
            position: relative;
            display: block;
            &:before {
                content: '';
                display: block;
                position: absolute;
                z-index: 10;
                width: 100%;
                height: 100%;
                transition: background .3s linear;
            }
            &:hover,
            &:focus,
            &:active {
                &:before {
                    background: $color-highlight;
                    opacity: .7;
                }
            }
        }
    }
}

/* Detail */
.detail {
    img {
        max-width: 100%;
        margin: 0 auto;
    }
}

/* Home */
.home.works {
    article {
        
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
